/* SNG Sans Light */
@font-face {
    font-family: "SNG Sans";
    src: url("/assets/fonts/SNGSans/SNGSans-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  /* SNG Sans Regular */
  @font-face {
    font-family: "SNG Sans";
    src: url("/assets/fonts/SNGSans/SNGSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* SNG Sans Medium */
  @font-face {
    font-family: "SNG Sans";
    src: url("/assets/fonts/SNGSans/SNGSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  /* SNG Sans Bold */
  @font-face {
    font-family: "SNG Sans";
    src: url("/assets/fonts/SNGSans/SNGSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Circular';
    src: url('/assets/fonts/Circular/Circular-Book.woff2') format('woff2'),
    url('/assets/fonts/Circular/Circular-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular';
    src: url('/assets/fonts/Circular/Circular-BookItalic.woff2') format('woff2'),
    url('/assets/fonts/Circular/Circular-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular';
    src: url('/assets/fonts/Circular/Circular-Bold.woff2') format('woff2'),
    url('/assets/fonts/Circular/Circular-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular';
    src: url('/assets/fonts/Circular/Circular-Medium.woff2') format('woff2'),
    url('/assets/fonts/Circular/Circular-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
